# Python
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info

# Virtual environment & setup
.venv/
uv.lock

# Output files from examples
*.parquet
*.pt
*.pth
*.png
*.log
examples/**/*.yaml
examples/**/*.json
examples/**/data
examples/**/*.db
examples/**/*.db-journal
